<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnD-UFwLBjhHAg-EpPGiK7VUIqvXE1F24</string>
	<key>GCM_SENDER_ID</key>
	<string>71176063440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yoon.ThreadsClone</string>
	<key>PROJECT_ID</key>
	<string>threadstutorials-9c66e</string>
	<key>STORAGE_BUCKET</key>
	<string>threadstutorials-9c66e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71176063440:ios:4d4ab17045de7825bc91d5</string>
</dict>
</plist>